@charset "utf-8";
*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    width: 100%;
}
.wrap{
    
    background-color: #fff;
}
header{
    width: 100%;
    height: 100px;
    background-color:#c1c1c1;
}
.headerwrap{
    width: 1200px;
    height: 100px;
    display: flex;
    
    margin: 0 auto;
}
.logo{
    width: 200px;
    height: 100px;
    
}
.logo img{
    margin-top: 20px; 
}
.flogo img{
    margin-top: 20px; 
}
.menu{
    width: 1000px;
    height: 100px;
    
}


.nav>ul{
    display: flex;
    justify-content: right;
    margin-top: 30px;
}
.nav>ul>li{
    position: relative;
}
.nav>ul>li>a{
    display: inline-block;
    padding: 10px 50px;
    background-color: #b0b0b0;
}

.nav>ul>li>a:hover{
    background-color: #696969;
}
.nav>ul>li>ul{
    position: absolute;
    left: 0;
    top: 38px;
    width: 100%;
    text-align: center;
    display: none;
}
.nav>ul>li>ul>li>a{
    display: inline-block;
    padding: 10px;
    background-color: #c1c1c1;
    width: 100%;
}   
.nav>ul>li>ul>li>a{
    background-color: #8f8f8f;
}
.nav>ul>li>ul>li>a:hover{
    background-color: #696969;
}








.slide{
    width: 1200px;
    height: 300px;
    
    margin: 0 auto;
    overflow: hidden;
}
.sliderWrap{
    display: flex;
}
.sliderWrap img{
    width: 1200px;
    height: 300px;
}

.content{
    width: 1200px;
    height: 200px;
    display: flex;
    margin: 0 auto;
}
.contentwrap{
    width: 400px;
    height: 200px;
}
.tab{
    display: flex;
    text-align: center;
}
.tab a{
    width: 100px;
    height: 30px;
    border: 1px solid black;
    margin-top: 10px;
    border-bottom: none;
}
.notice{
    
}
.notice ul li a:last-child{
    border-bottom: 1px solid black;
}
.notice ul li span{
    float: right;
    margin-right: 2px;   
}
.notice ul li a{
    width: 100%;
    height: 35px;
    display: block;
    line-height: 35px;
}
.notice ul li{
    border: 1px solid black;
    height: 35px;
    width: 370px;
}
.notice ul li{
    border-bottom: none;
}
.tab a:nth-child(1){
    background-color: black;
    color: white;
}

.gallery{
    display: flex;
    border: 1px solid black;
    height: 140px;
    width: 370px;
    display: none;
}
.gallery img{
    width: 100px;
    height: 100px;
    margin-left: 15px;
    margin-top: 25px;
}
.short{
    width: 400px;
    height: 200px;
    
}
.banner{
    width: 400px;
    height: 200px;
    
}
footer{
    width: 100%;
    height: 100px;
    background-color:#c1c1c1;
}
.footerwrap{
    width: 1200px;
    height: 100px;
    display: flex;
    margin: 0 auto;
}
.fcontent{
    width: 1000px;
    height: 100px;
}
.fmenu{
    width: 1000px;
    height: 50px;
    
    text-align: center;
}
.fmenu p{
    margin-top: 15px;
}
.copy{
    width: 1000px;
    height: 50px;
    text-align: center;
    
}
.copy p{
    margin-top: 5px;
}
.flogo{
    width: 200px;
    height: 100px;
}
.pop{
    width: 500px;
    height: 300px;
    background-color:#fff;
    border: 1px solid black;
    top: 30%;
    left: 33%;
    position: absolute;
    display: none;
}
.title{
    width: 500px;
    border-bottom: 1px solid black;
}
.message{
    text-decoration: underline;
}
.message p{
    margin-left: 5px;
}
.btn a{
    width: 80px;
    height: 30px;
    background-color: rgb(58, 58, 154);
    color: white;
    text-align: center;
    border: 1px solid black;
    line-height: 30px;
    position: absolute;
    top: 85%;
    right: 5%;
    
}
